@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/kontakt-wallpaper.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.kontakt h2 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.kontakt form {
    width: 600px;
    text-align: center;
    padding: 30px 40px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid whitesmoke;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: whitesmoke;
    margin: 12px 0;
}

.field.error .item {
    border: 2px solid maroon;
}

.field .item::placeholder{
    color: rgba(255, 255, 255, .8);
}

.field .error-msg {
    font-size: 14.5px;
    color:maroon;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-msg {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-msg {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.5s ease;
}

form button:hover {
    box-shadow: none;
    background: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

select option {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(18, 11, 63);
    border: 2px solid whitesmoke;
}
